<a href="/">Back to homepage</a>
<h1> Recipe Details </h1>

<ul style="text-align: center">
        <li style="background-color: lightblue">{{ recipes.title }}, by <a href="/author/{{ recipes.author}}"> {{ recipes.author }} </a></li>
        <ul>
            <p>Description: {{ recipes.description }}</p>
            <p>Time Required: {{ recipes.time_required }}</p>
            <p>Instructions: {{ recipes.instructions }} </p>
        </ul>
        <p>
            <a href="{{recipes.id}}/edit/">Edit Recipes Here!</a>
        </p>
</ul>